.gameboard {
  display: grid;
  padding-top: 2em;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-template-areas:
    "player0 player1 player2"
    "player9 center player3"
    "player8 center player4"
    "player7 player6 player5";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  min-width: 200px;
}
.player1 {
  grid-area: player1;
  min-height: 125px;
  min-width: 125px;
}
.player2 {
  grid-area: player2;
  min-height: 125px;
  min-width: 125px;
}
.player3 {
  grid-area: player3;
  min-height: 125px;
  min-width: 125px;
}
.player4 {
  grid-area: player4;
  min-height: 125px;
  min-width: 125px;
}
.player5 {
  grid-area: player5;
  min-height: 125px;
  min-width: 125px;
}
.player6 {
  grid-area: player6;
  min-height: 125px;
  min-width: 125px;
}
.player7 {
  grid-area: player7;
  min-height: 125px;
  min-width: 125px;
}
.player8 {
  grid-area: player8;
  min-height: 125px;
  min-width: 125px;
}
.player9 {
  grid-area: player9;
  min-height: 125px;
  min-width: 125px;
}
.player0 {
  grid-area: player0;
  min-height: 125px;
  min-width: 125px;
}
.center {
  grid-area: center;
}
